.background {
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;;
  }

.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: auto auto;
}
.align{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.bar {
  height: 90px;
  width:100%;
  background: rgba(253, 255, 238);
  font-size: 30 ;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

.bar-item {
  margin: 0 15px;
  transition: 0.25s;
}

.bar-item:hover {
  background: rgb(37, 37, 35, 0.6);
  box-shadow: 5px 5px 10px;
}

a {
  color: black;
  text-decoration: none;
}

.purple {
  width: 33.33%;
  height: 33.33%;
  background-color: purple;
}

.white {
  width: 33.33%;
  height: 33.33%;
  background-color: darkmagenta ;
}

.turn-tracker {
  color: white;
  margin-left: 20px;
  font-size: 50;
  background-color: rgb(51, 53, 34);
  width: 450px;
  height: 300px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.win-result {
  color: rgb(109, 72, 72);
}

.symbol{
  color: white;
  font-size: 150;
  text-align: center;
}