.background {
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  height: 100vh;;
}

.board {
width: 500px;
height: 500px;
display: flex;
flex-wrap: wrap;
margin: auto auto;
}
.align{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 120px;
}

.bar {
height: 90px;
width:100%;
background: rgba(253, 255, 238);
font-size: 30 ;
color: black;
display: flex;
justify-content: center;
align-items: center;
}

.bar-items {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
list-style: none;
}

.bar-item {
margin: 0 15px;
transition: 0.25s;
}

.bar-item:hover {
background: rgb(37, 37, 35, 0.6);
box-shadow: 5px 5px 10px;
}

a {
color: black;
text-decoration: none;
}

.purple {
width: 30%;
height: 33%;
background-color: purple;
border: 1px solid white;
cursor: pointer;
}

.white {
width: 30%;
height: 33%;
background-color: darkmagenta ;
border: 1px solid white;
cursor: pointer;
}

.turn-tracker {
color: white;
margin-left: 20px;
font-size: 50;
background-color: rgb(51, 53, 34);
width: 450px;
height: 300px;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.modal {
visibility: hidden;
background-color: black;
background-color: rgba(0,0,0,0.4);
display: flex;
z-index: 1;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
}

.win-result-content {
color: rgb(109, 72, 72);
display: flex;
flex-direction: column;
background-color: #fefefe;
margin: auto auto;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 4px;
width: 500px;
height: 300px;
font-size: 100;
border-radius: 20px;
}

.symbol{
color: white;
font-size: 150;
text-align: center;
}

.game-over {
visibility: visible;
}

.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: rgb(168, 80, 168)}

.button:active {
  background-color: rgb(168, 80, 168);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}