.background {
  background-color: black;
}

.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.purple {
  width: 33.33%;
  height: 33.33%;
  background-color: purple;
}

.white {
  width: 33.33%;
  height: 33.33%;
  background-color: darkmagenta ;
}

.turn-tracker {
  color: white;
}

.win-result {
  color: white;
}
