.background {
  background-color: black;
}

.board {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.purple {
  width: 100px;
  height: 100px;
  background-color: purple;
}

.white{
  width: 100px;
  height: 100px;
  background-color: darkmagenta ;
}